@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInBounce {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  60% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
